<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/my.js}"></script>
    <!--<script type="text/javascript" src="/static/js/my.js"></script>-->
</head>
<body>
<!--<h4>Hello ${name} from resource freeMark!</h4>-->
<form action="" method="get" id="form">
    <label>用戶名：<input type="text" th:value="${username}" name="username" autocomplete="off"/></label><br/>
    <label>密 码：<input type="text" th:value="${password}" name="password" autocomplete="off"/></label><br/>
    <i><img style="height:22px;" id="codeImg" alt="点击更换" title="点击更换" src="/login/captcha.img"
            onclick="this.src='/login/captcha.img';"/></i>
    <label><input type="text" name="captcha" autocomplete="off"/></label><br/>
    <label>记住我：<input type="checkbox" name="rememberMe"/></label>
    <button id="login">登录</button>
    <button id="register">注册</button>
    <br/>
    <p th:text="${msg}"></p>
</form>
</body>
</html>

